/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family:"Quicksand",sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}
html, body { height: 100%; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}
.black-snackbar{
    background: black !important;
    color: white !important;
}
.green-snackbar{
    background: green !important;
    color: white !important;
}
.blurbackdrop{
    background-color:rgba(255,255,255,.1);
    backdrop-filter: blur(2px); 
}